.gallery {
    padding-bottom: 0;
}

.gallery .gallery-item {
    overflow: hidden;
    /* border-right: 6px solid #fff; */
    border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
    height: 35vh;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

.gallery .row>* {
    padding-right: calc(var(--bs-gutter-x) * .1);
    padding-left: calc(var(--bs-gutter-x) * .1);
    margin-top: var(--bs-gutter-y);
}